<!-- <pre>{{salesInvoiceModel}}</pre> -->
<div class="container main-content col-md-12" id = "yadDiv">
  
    <div class="panel panel-primary">
      <div class="panel-body">
        <form>     

              <div class="col-md-2">
                  <label for="billno"><b>Bill No</b></label>
                  <input type="text"
                         class="form-control font-weight:bold" 
                         id="billno",
                         ng-model="salesInvoiceModel.billno"  
                         value="" disabled>
              </div> 
              <div class="col-md-3">
                <label class="control-label" for="sales_date"><b>Date</b></label>
                <input type="text"
                       class="form-control" 
                       id="invoice_date"  
                       ng-model = "salesInvoiceModel.sales_date"
                       bs-datepicker="">
              </div> 
              <div class="col-md-7">
                <label class="control-label" for="patient"><b>Buyer Name</b></label>
                <input type="text"
                       class="form-control" 
                       id="patient"  
                       ng-model = "salesInvoiceModel.buyer">
              </div>
        </form> 
    <div><div>&nbsp</div></div> 
    <!--  </div>  Panel Body 
    </div>  Panel Default -->

        <!-- Table for Bill Details with ANGULAR JS-->
        <div class="col-lg-12 col-lg-offset-0 center">
          <table class="table table-bordered table-condensed">
            <thead>
              <tr class="active">
                <th class="col-lg-1" style="text-align:center">ITEM ID</th>
                <th class="col-lg-1" style="text-align:center">BARCODE</th>  
                <th class="col-lg-5" style="text-align:center">ITEM </th>
                <th class="col-lg-1" style="text-align:center">Quantity</th>              
                <th class="col-lg-1" style="text-align:center">Rate </th>
                <th class="col-lg-1" style="text-align:center">VAT %</th>
                <th class="col-lg-1" style="text-align:center">Amount</th>
                <th class="col-lg-1"></th>
              </tr>    
            </thead>
            <tbody class="detail">
              <tr ng-repeat = "item in salesInvoiceModel.items">
                <td style="text-align:center" id="item.sales_item_master_id_{{$index}}">{{item.sales_item_master_id}}</td>
                <td><input class="form-control input-sm autocomplete_barcode" ng-model="item.item_barcode" ng-keypress="addItem()" id="item.item_barcode_{{$index}}"></td>
                <td><input class="form-control input-sm autocomplete_txt" ng-model="item.item_name" ng-keypress="addItem()" id="item.item_name_{{$index}}" ng-change="addItem()"></td>
                <td style="text-align:center"><input class="form-control input-sm" ng-model="item.sales_item_purchase_qty" id="item.sales_item_purchase_qty_{{$index}}" ng-keypress="addItem()">
                </td>
                <td style="text-align:center" id="item.item_sales_price_{{$index}}">{{item.item_sales_price}}</td>
                <td style="text-align:center" id="item.item_sales_tax_per_{{$index}}">{{item.sales_tax_per}}</td>
                <td style="text-align:center amount" >{{(item.sales_item_purchase_qty || 0) * (item.item_sales_price || 0)}}</td>
                <td> <input type="button" value="X" class="btn btn-primary btn-sm" ng-click=removeItem(item)></td>             
              </tr>
            </tbody>
            <tfooter>
              <tr>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td style="text-align:center"><b>Sub Total</b></td>
                <td style="text-align:center">{{totalPrice() | currency: '&#8377' : 0}}</td> 
              </tr>
              <tr>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td style="text-align:center" class="emptyrow"><b>Discount</b></td>
                <td style="text-align:center"><input class="form-control input-sm" ng-model="salesInvoiceModel.discount_amt" money></td> 
              </tr>
              <tr>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td style="text-align:center" class="emptyrow"><b>Grand Total</b></td>
                <td style="text-align:center" class="emptyrow total"><b>{{totalPrice() - salesInvoiceModel.discount_amt | currency: '&#8377' : 0}}</b></td> 
              </tr>       
            </tfooter>
          </table>   

      </div> <!-- Panel Body -->

    </div> <!-- Panel Default -->
    
   </div>

    <div class="form-group col-lg-offset-5">
      <input type="button" value="+" class="btn btn-primary" ng-click="addItem()">
        <button class="btn btn-primary" ng-click="saveSalesInvoice()"> SAVE BILL
        </button>  
    </div>  
    <!-- ABOVE:::::: Table for Bill Details with ANGULAR JS-->
</div> <!-- Main DIV for yadDIV -->


<script>
  // $('#mainTable1').editableTableWidget({ editor: $('<input>'), preventColumns: [ 3,4,5,6,7 ] }).numericInputExample();
</script>
      



