<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">List of Manufacturers</h3>
  </div>
  <div class="panel-body">
      <form class = "form-inline well well-sm">
        <div class="form-group">
            <input type="text" class="form-control" id="name" ng-model="search.name" placeholder="Search on name..." autocomplete="off" />
        </div>
      </form>
      <table class="table table-bordered table-condensed">
        <thead>
          <tr class="active">
            <th class="col-lg-2">Supplier Code</th>
            <th class="col-lg-5">Supplier Name
                <span ng-click="order = 'name'" class="glyphicon glyphicon-menu-up"></span>
                <span ng-click="order = '-name'" class="glyphicon glyphicon-menu-down"></span>
            </th>
            <th class="col-lg-2">TIN
                <span ng-click="order = 'state'" class="glyphicon glyphicon-menu-up"></span>
                <span ng-click="order = '-state'" class="glyphicon glyphicon-menu-down"></span>
            </th>
            <th class="col-lg-2">Contact</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="supplier in allSuppliers | filter:search  ">
                  <td> {{supplier.id}} </td>
                  <td>{{supplier.name}}</td>
                  <td>{{supplier.tin}}</td>
                  <td>{{supplier.contact}}</td>
                  <td>
                    <button class="btn btn-success btn-sm" ng-click="goToEditScreen(supplier.id)">Edit</button>
                  </td>
          </tr>
        </tbody>  
      </table>  
  <div>  
</div>      