<div class="row-fluid">
  <div class="container">
      <div class="col-lg-12">
            <div class="form-group col-md-2">
              <label class="control-label" for="date">Date</label>
              <input class="form-control" id="date" type="text" datepicker-popup = "MMM dd, yyyy">
              <span class = "input-group-btn">
                <button class="btn btn-default">
                  <i class="glyphicon glyphicon-calendar" />
                </button>  
              </span>
            </div>
            <div class="form-group col-md-7">
              <label class="control-label" for="name">Supplier Name</label>
              <input class="form-control" id="name" type="text" placeholder="Enter Supplier Name...">
            </div>
            <div class="form-group col-md-1">
              <label class="control-label" for="code">Code</label>
              <input class="form-control" id="code" type="text" disabled></input>
            </div>             
            <div class="form-group col-md-2">
              <label class="control-label" for="tin">TIN</label>
              <input class="form-control" id="tin" type="text" disabled>
            </div>
      </div>  
      <div class="col-lg-12">
          <table class="table">
              <thead>
                <th class="col-lg-4"><label class="control-label" for="name">Item Name</label></th>
                <th class="col-lg-1"><label class="control-label" for="retailprice">Price</label></th>
                <th class="col-lg-1"><label class="control-label" for="itemlocation">Location</label></th>
                <th class="col-lg-1"><label class="control-label" for="tax">Tax %</label></th>
                <th class="col-lg-1"><label class="control-label" for="batch">Batch</label></th>
                <th class="col-lg-1"><label class="control-label" for="expiry">Expiry Date</label></th>
                <th class="col-lg-1"><label class="control-label" for="expiry">Quantity</label></th>
                <th class="col-lg-1"></th>
              </thead>
              <tbody>
                <tr>
                    <td><input class="form-control-yb" id="name" type="label" placeholder=""></td>
                    <td><input class="form-control-yb" id="retailprice" type="text" placeholder=""></td>
                    <td><input class="form-control-yb" id="itemlocation" type="text" placeholder=""></td>
                    <td><input class="form-control-yb" id="tax" type="text" placeholder=""></td>
                    <td><input class="form-control-yb" id="batch" type="text" placeholder=""></td>
                    <td><input class="form-control-yb" id="expiry" type="text" placeholder=""></td>
                    <td><input class="form-control-yb" id="quantity" type="text" placeholder=""></td>
                    <td>
                      <button class="btn btn-success btn-xs" ng-click= "createPurchaseItem()">Save Item</button>              
                    </td>
                </tr>
              </tbody>
          </table>  
       </div>
      
      
      <div class="col-xs-12" style="height:50px;"></div> 
      <!--     Example: adding vertical space-->

    <div class="col-lg-12">
      <table class="table table-bordered">
          <thead>
            <th class="col-lg-1">Item Code</th>
            <th class="col-lg-3">Item Name</th>
            <th class="col-lg-1">Cost Price</th>
            <th class="col-lg-1">Location</th>
            <th class="col-lg-1">Tax Rate</th>
            <th class="col-lg-1">Batch No</th>
            <th class="col-lg-1">Expiry Date</th>
            <th class="col-lg-1">Quantity</th>
            <th class="col-lg-1">Actions</th>
          </thead>
          <tbody>
            <tr>
                <td>Item Code</td>
                <td>Item Name</td>
                <td>Cost Price</td>
                <td>Location</td>
                <td>Tax Rate</td>
                <td>Batch No</td>
                <td>Expiry Date</td>
                <td><input class="form-control-yb" id="quantity" type="text" placeholder=""></td>
                <td>
                  <button class="btn btn-success btn-xs" ng-click= "addContact()">Save</button>
                  <button class="btn btn-danger btn-xs" ng-click= "addContact()">Del</button>                  
                </td>
            </tr>
            <tr ng-repeat="item in items">
                  <td>{{item.code}}</td>
									<td>{{item.name}}</td>
									<td>{{item.retailprice}}</td>
									<td>{{item.itemlocation}}</td>
                  <td>{{item.tax}}</td>
                  <td>{{item.batch}}</td>
                  <td>{{item.expiry}}</td>
                  <td><input class="form-control-yb" id="quantity" type="text" ng-model="item.quantity"></td>
                  <td>
                    <button class="btn btn-success btn-xs" ng-click= "addContact()">Save</button>
                    <button class="btn btn-danger btn-xs" ng-click= "addContact()">Del</button>                  
                  </td>
						</tr>
          </tbody>
      </table>  
    </div>    
        <table class="table">
            <thead>
                <tr>
                    <th>Item ID</th>
                    <th>Item ID2</th>
                    <th class="col-lg-3">Item Name</th>
                    <th>Item Price</th>
                    <th>Item Price2</th>
                    <th>Item Price3</th>
                    <th>Item Price4</th>
                    <th>Item Price5</th>
                    <th>Item Price6</th>
                    <th>Item Price7</th>
                    <th>Item Price8</th>
                    <th>Item Price9</th>
                    <th>Item Price10</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h8>1</td>
                    <td>Item 1</td>
                    <td>$1</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Item 2</td>
                    <td>$2</td>
                </tr>
            </tbody>
        </table>
  </div>
</div>     
