<div class="row-fluid">
  <div class="container col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group col-md-12" >
          <div class="row">
            <!-- Put fields below -->
            <div class="form-group col-md-3">
              <label class="control-label" for="date">Purchase Date</label>
              <input class="form-control" id="date" type="text" ng-model="purchaseInvoiceModel.date" bs-datepicker></input>
            </div>
            <div class="form-group col-md-9">
              <label class="control-label" for="name">Name</label>
              <input class="form-control" id="supplier_name" ng-model="purchaseInvoiceModel.name" type="text">
            </div>
            <!-- <div class="form-group col-md-2"> -->
              <!-- <label class="control-label" for="supplier_id">Code</label> -->
              <input class="form-control hidden" id="supplier_id" type="text" disabled ng-model="purchaseInvoiceModel.supplier_id"></input>
            <!-- </div> -->
            <div class="form-group col-md-3">
              <label class="control-label" for="supplier_invoice_date">Invoice Date</label>
              <input class="form-control" id="supplier_invoice_date" type="text" ng-model="purchaseInvoiceModel.supplier_invoice_date"  bs-datepicker></input>
            </div>
            <div class="form-group col-md-2">
              <label class="control-label" for="supplier_invoice_ref">Invoice Ref #</label>
              <input class="form-control" id="supplier_invoice_ref" type="text" ng-model="purchaseInvoiceModel.supplier_invoice_ref" ></input>
            </div>
            <div class="form-group col-md-7">
              <label class="control-label" for="remarks">Remarks</label>
              <input class="form-control" id="remarks" ng-model="purchaseInvoiceModel.remarks" type="text">
            </div>
            <!-- Put fields above -->
          </div>
        </div>
      </div> <!-- panel body ends-->
      <div class="panel-body">
      	        <!-- Table for Bill Details with ANGULAR JS-->
<!--         <div class="col-lg-12 col-lg-offset-0 center"
             ng-init="purchaseInvoiceModel = {items:[{
             purchase_item_master_id:undefined,
             item_barcode:undefined,
             item_name:undefined,
             purchase_item_purchase_qty:0,
             purchase_item_costprice:0,
             item_salesprice: 0,
             item_tax_per: 0
             }]}"> -->
        <div class="col-lg-12 col-lg-offset-0 center">     
          <table class="table table-bordered table-condensed">
            <thead>
              <tr class="active">  
                <th class="col-lg-1" style="text-align:center">ID</th>
                <th class="col-lg-1" style="text-align:center">Barcode</th>
                <th class="col-lg-5" style="text-align:center">ITEM </th>
                <th class="col-lg-1" style="text-align:center">Quantity</th>
                <th class="col-lg-1" style="text-align:center">Cost Price</th>
                <th class="col-lg-1" style="text-align:center">Sales Price</th>
                <th class="col-lg-1" style="text-align:center">Vat %</th>
                <th class="col-lg-1" style="text-align:center">Amount</th>
                <th class="col-lg-1"></th>
              </tr>    
            </thead>
            <tbody class="detail">
              <tr ng-repeat = "item in purchaseInvoiceModel.items">
                <td style="text-align:center" id="item.id_{{$index}}">{{item.purchase_item_master_id}}</td>
                <td style="text-align:center" id="item.item_barcode_{{$index}}">{{item.item_barcode}}</td>
                <td><input class="form-control input-sm autocomplete_txt" id="item.item_name_{{$index}}" ng-model="item.item_name" ng-keypress="addItem()" ></td>
                <td style="text-align:center"><input class="form-control input-sm" id="item.purchase_item_purchase_qty_{{$index}}" ng-model="item.purchase_item_purchase_qty"></td>
                <td style="text-align:center"><input class="form-control input-sm" id="item.purchase_item_costprice_{{$index}}" ng-model="item.purchase_item_costprice"></td>
                <td style="text-align:center" id="item.item_salesprice_{{$index}}">{{item.item_salesprice}}</td>
                <td style="text-align:center" id="item.purchase_tax_amt_{{$index}}">{{item.item_tax_per}}</td>
                <td style="text-align:center amount">{{(item.purchase_item_purchase_qty || 0) * (item.purchase_item_costprice || 0)}}</td>
                <td> <input type="button" value="X" class="btn btn-primary btn-sm" ng-click=removeItem(item)></td>             
              </tr>
            </tbody>
            <tfooter>
              <tr>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td style="text-align:center"><b>Sub Total</b></td>
                <td style="text-align:center">{{totalPrice() | currency: '&#8377' : 0}}</td> 
              </tr>
              <tr>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td style="text-align:center" class="emptyrow"><b>Discount</b></td>
                <td style="text-align:center"><input class="form-control input-sm" ng-model="purchaseInvoiceModel.discount_amt" money></td> 
              </tr>
              <tr>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td style="text-align:center" class="emptyrow"><b>Grand Total</b></td>
                <td style="text-align:center" class="emptyrow total"><b>{{totalPrice() - purchaseInvoiceModel.discount_amt | currency: '&#8377' : 0}}</b></td> 
              </tr>       
            </tfooter>
          </table>
      </div> <!-- Panel Body -->
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-5">
        <button class="btn btn-success" ng-click="createPurchaseInvoice(purchaseInvoiceModel)"><b>SAVE </b></button>
      </div>  
    </div>
</div>   
<!-- <pre>
  {{purchaseInvoiceModel | json}}
</pre>
 -->
// <script>
  // $(function() {
  // 	$( "#date" ).datepicker({dateFormat: 'dd/mm/yy'}).datepicker('setDate', 'today');
  // });

  // $(function() {
  //   $( "#supplier_invoice_date" ).datepicker({dateFormat: 'dd/mm/yy'}).datepicker('setDate', 'today');
  // });
// </script>
